In [62]:
import pandas as pd
import numpy as np

In [63]:
df=pd.read_csv('database.csv',usecols=['Date','Time','ID'])

In [64]:
df.sample(5)

             Date      Time          ID
13652  08/30/1997  03:28:35  USP00086VR
11821  02/28/1994  21:52:56  USP000693G
8240   11/01/1986  18:56:28  USP0002ZK4
18263  02/09/2007  02:22:55  USP000F4HN
6788   11/06/1983  21:09:45  USP0001ZM0

In [65]:
df.info()
df.iloc[2095:2097,:]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23412 non-null  object
 1   Time    23412 non-null  object
 2   ID      23412 non-null  object
dtypes: object(3)
memory usage: 548.8+ KB

            Date      Time            ID
2095  09/24/1971  01:10:02  ISCGEM780560
2096  09/24/1971  04:32:57  ISCGEM780563

In [73]:
#change object format to dateTime format
df['Date']=pd.to_datetime(df['Date'],format='mixed',utc=True)
df['Time']=pd.to_datetime(df['Time'],format='mixed').dt.time

TypeError: <class 'datetime.time'> is not convertible to datetime, at position 0

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23412 non-null  datetime64[ns, UTC]
 1   Time    23412 non-null  object
 2   ID      23412 non-null  object
 3   year    23412 non-null  int32
dtypes: datetime64[ns, UTC](1), int32(1), object(2)
memory usage: 640.3+ KB

In [69]:
#extract the deatils seperately
year=df['Date'].dt.year
year.sample(5)
df['year']=df['Date'].dt.year

In [ ]:
df.sample()

In [ ]:
df['Month'] = df['Date'].dt.month

In [ ]:
df.sample()

In [ ]:
df['Month_name'] = df['Date'].dt.month_name()
df.sample()